<div class="notice notice-{{ type }}">
    <h3>{{ title }}</h3>
    <p>
        {{ text }}
    </p>
</div>
<input
    id="{{ hiddenAction.id }}"
    value="{{ hiddenAction.value }}"
    type="hidden"
>
{{ submit_button_text(buttonText) }}
