<select
    name="{{ name }}"
    id="{{ name }}"
    aria-describedby="{{ name }}_hint"
>
    {% if not options|length == 1 %}
        <option
            value=''
            {% if currentOption is empty %}
                selected="selected"
            {% endif %}
        >
            {{ notSingleLabel }}
        </option>
    {% endif %}

    {% for option in options %}
        <option
            {% if option.getId() == currentOption %}
                selected="selected"
            {% endif %}
            value="{{ option.getId() }}"
        >
            {{ option.getName() }}
        </option>
    {% endfor %}
</select>
{% if not alert is empty %}
    <div id="{{ alert.id }}" role="alert" data-message="{{ alert.message }}"></div>
{% endif %}
<p id="{{ name }}_hint">
    {{ label.hint }}
</p>
